body {
    font-family: 'Arial', sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: papayawhip;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-form {
    margin-bottom: 20px;
}

#task-input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .delete-btn {
    background-color: #ff5252;
    color: #fff;
    border: none;
    cursor: pointer;
}

li.important {
    background-color: #ffecb3;
}
